{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Slack Web API",
    "description" : "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
    "contact" : {
      "name" : "Slack developer relations",
      "url" : "https://api.slack.com/support"
    },
    "version" : "1.7.0",
    "x-apisguru-categories" : [ "collaboration", "messaging" ],
    "x-logo" : {
      "url" : "https://api.apis.guru/v2/cache/logo/http_static.tumblr.com_wvuzcz9_LlKncfhmp_slack_logo_240.png"
    },
    "x-origin" : [ {
      "format" : "openapi",
      "url" : "https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json",
      "version" : "3.0"
    } ],
    "x-providerName" : "slack.com"
  },
  "externalDocs" : {
    "description" : "Learn more about the Slack Web API",
    "url" : "https://api.slack.com/web"
  },
  "servers" : [ {
    "url" : "https://slack.com/api"
  } ],
  "paths" : {
    "/admin.apps.approve" : {
      "post" : {
        "tags" : [ "admin.apps", "admin" ],
        "description" : "Approve an app for installation on a workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.apps.approve"
        },
        "operationId" : "admin_apps_approve",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminAppsApproveBody"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.apps:write" ]
        } ]
      }
    },
    "/admin.apps.approved.list" : {
      "get" : {
        "tags" : [ "admin.apps.approved", "admin" ],
        "description" : "List approved apps for an org or workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.apps.approved.list"
        },
        "operationId" : "admin_apps_approved_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "enterprise_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "enterpriseId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse1"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "approved_apps" : [ {
                        "app" : {
                          "additional_info" : "",
                          "app_directory_url" : "https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app",
                          "app_homepage_url" : "https://www.slack.com",
                          "description" : "test app",
                          "help_url" : "https://www.slack.com",
                          "icons" : {
                            "image_1024" : "https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png",
                            "image_128" : "https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png",
                            "image_192" : "https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png",
                            "image_32" : "https://302674312496446w_2bd4ea1ad1f89a23c242_32.png",
                            "image_36" : "https://302674312496446w_2bd4ea1ad1f89a23c242_36.png",
                            "image_48" : "https://302674312496446w_2bd4ea1ad1f89a23c242_48.png",
                            "image_512" : "https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png",
                            "image_64" : "https://302674312496446w_2bd4ea1ad1f89a23c242_64.png",
                            "image_72" : "https://302674312496446w_2bd4ea1ad1f89a23c242_72.png",
                            "image_96" : "https://302674312496446w_2bd4ea1ad1f89a23c242_96.png",
                            "image_original" : "https://302674446w12496_2bd4ea1ad1f89a23c242_original.png"
                          },
                          "id" : "A0W7UKG8E",
                          "is_app_directory_approved" : false,
                          "is_internal" : false,
                          "name" : "My Test App",
                          "privacy_policy_url" : "https://www.slack.com"
                        },
                        "date_updated" : 1574296707,
                        "last_resolved_by" : {
                          "actor_id" : "W0G82F4FD",
                          "actor_type" : "user"
                        },
                        "scopes" : [ {
                          "description" : "Add the ability for people to direct message or mention @my_test_app",
                          "is_sensitive" : true,
                          "name" : "bot",
                          "token_type" : "bot"
                        } ]
                      } ],
                      "ok" : true,
                      "response_metadata" : {
                        "next_cursor" : ""
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate1"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.apps:read" ]
        } ]
      }
    },
    "/admin.apps.requests.list" : {
      "get" : {
        "tags" : [ "admin.apps.requests", "admin" ],
        "description" : "List app requests for a team/workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.apps.requests.list"
        },
        "operationId" : "admin_apps_requests_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse2"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "app_requests" : [ {
                        "app" : {
                          "additional_info" : "",
                          "app_directory_url" : "https://acmecorp.slack.com/apps/A061BL8RQ0-test-app",
                          "app_homepage_url" : "",
                          "description" : "",
                          "help_url" : "",
                          "icons" : {
                            "image_1024" : "/cdn/15258203/img/testapp/service_1024.png",
                            "image_128" : "/cdn/157258203/img/testapp/service_128.png",
                            "image_192" : "/cdn/157258203/img/testapp/service_192.png",
                            "image_32" : "/cdn/157658203/img/testapp/service_32.png",
                            "image_36" : "/cdn/157658203/img/testapp/service_36.png",
                            "image_48" : "/cdn/157658203/img/testapp/service_48.png",
                            "image_512" : "/cdn/15758203/img/testapp/service_512.png",
                            "image_64" : "/cdn/157658203/img/testapp/service_64.png",
                            "image_72" : "/cdn/157658203/img/testapp/service_72.png",
                            "image_96" : "/cdn/157658203/img/testapp/service_96.png"
                          },
                          "id" : "A061BL8RQ0",
                          "is_app_directory_approved" : true,
                          "is_internal" : false,
                          "name" : "Test App",
                          "privacy_policy_url" : "https://testapp.com/privacy"
                        },
                        "date_created" : 1578956327,
                        "id" : "Ar0XJGFLMLS",
                        "message" : "test test again",
                        "previous_resolution" : null,
                        "scopes" : [ {
                          "description" : "Post messages to specific channels in Slack",
                          "is_sensitive" : false,
                          "name" : "incoming-webhook",
                          "token_type" : "user"
                        } ],
                        "team" : {
                          "domain" : "acmecorp",
                          "id" : "T0M94LNUCR",
                          "name" : "Acme Corp"
                        },
                        "user" : {
                          "email" : "janedoe@example.com",
                          "id" : "W08RA9G5HR",
                          "name" : "Jane Doe"
                        }
                      } ],
                      "ok" : true,
                      "response_metadata" : {
                        "next_cursor" : ""
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate2"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "missing_scope",
                      "needed" : "admin.apps:read",
                      "ok" : false,
                      "provided" : "read,client,admin,identify,post,apps"
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.apps:read" ]
        } ]
      }
    },
    "/admin.apps.restrict" : {
      "post" : {
        "tags" : [ "admin.apps", "admin" ],
        "description" : "Restrict an app for installation on a workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.apps.restrict"
        },
        "operationId" : "admin_apps_restrict",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminAppsRestrictBody"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse3"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate3"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.apps:write" ]
        } ]
      }
    },
    "/admin.apps.restricted.list" : {
      "get" : {
        "tags" : [ "admin.apps.restricted", "admin" ],
        "description" : "List restricted apps for an org or workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.apps.restricted.list"
        },
        "operationId" : "admin_apps_restricted_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "enterprise_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "enterpriseId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse4"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "response_metadata" : {
                        "next_cursor" : ""
                      },
                      "restricted_apps" : [ {
                        "app" : {
                          "additional_info" : "",
                          "app_directory_url" : "https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app",
                          "app_homepage_url" : "https://example.com",
                          "description" : "A fun test app for Slack",
                          "help_url" : "https://example.com",
                          "icons" : {
                            "image_1024" : "https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png",
                            "image_128" : "https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png",
                            "image_192" : "https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png",
                            "image_32" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png",
                            "image_36" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png",
                            "image_48" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png",
                            "image_512" : "https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png",
                            "image_64" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png",
                            "image_72" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png",
                            "image_96" : "https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png",
                            "image_original" : "https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png"
                          },
                          "id" : "A0FDLP8M2L",
                          "is_app_directory_approved" : true,
                          "is_internal" : false,
                          "name" : "My Test App",
                          "privacy_policy_url" : "https://example.com"
                        },
                        "date_updated" : 1574296721,
                        "last_resolved_by" : {
                          "actor_id" : "W0G82LMFD",
                          "actor_type" : "user"
                        },
                        "scopes" : [ {
                          "description" : "Upload, edit, and delete files on the user‟s behalf",
                          "is_sensitive" : true,
                          "name" : "files:write:user",
                          "token_type" : "user"
                        } ]
                      } ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate4"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.apps:read" ]
        } ]
      }
    },
    "/admin.conversations.archive" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Archive a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.archive"
        },
        "operationId" : "admin_conversations_archive",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsArchiveBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsArchiveResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsArchiveErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.convertToPrivate" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Convert a public channel to a private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.convertToPrivate"
        },
        "operationId" : "admin_conversations_convertToPrivate",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsConvertToPrivateBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsConvertToPrivateResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsConvertToPrivateErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.create" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Create a public or private channel-based conversation.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.create"
        },
        "operationId" : "admin_conversations_create",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsCreateBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsCreateResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "channel_id" : "C12345",
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsCreateErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.delete" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Delete a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.delete"
        },
        "operationId" : "admin_conversations_delete",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsDeleteBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsDeleteResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsDeleteErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.disconnectShared" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Disconnect a connected channel from one or more workspaces.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.disconnectShared"
        },
        "operationId" : "admin_conversations_disconnectShared",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsDisconnectSharedBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsRenameResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsDisconnectSharedErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.ekm.listOriginalConnectedChannelInfo" : {
      "get" : {
        "tags" : [ "admin.conversations.ekm", "admin" ],
        "description" : "List all disconnected channels—i.e., channels that were once connected to other workspaces and then disconnected—and the corresponding original channel IDs for key revocation with EKM.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo"
        },
        "operationId" : "admin_conversations_ekm_listOriginalConnectedChannelInfo",
        "parameters" : [ {
          "name" : "channel_ids",
          "in" : "query",
          "description" : "A comma-separated list of channels to filter to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "channelIds"
        }, {
          "name" : "team_ids",
          "in" : "query",
          "description" : "A comma-separated list of the workspaces to which the channels you would like returned belong",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamIds"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse5"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "channels" : [ {
                        "id" : "string",
                        "internal_team_ids" : "array",
                        "original_connected_channel_id" : "string",
                        "original_connected_host_id" : "string"
                      } ],
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate5"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:read" ]
        } ]
      }
    },
    "/admin.conversations.getConversationPrefs" : {
      "get" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Get conversation preferences for a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.getConversationPrefs"
        },
        "operationId" : "admin_conversations_getConversationPrefs",
        "parameters" : [ {
          "name" : "channel_id",
          "in" : "query",
          "description" : "The channel to get preferences for",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "channelId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsGetConversationPrefsResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsUnarchiveErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:read" ]
        } ]
      }
    },
    "/admin.conversations.getTeams" : {
      "get" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.getTeams"
        },
        "operationId" : "admin_conversations_getTeams",
        "parameters" : [ {
          "name" : "channel_id",
          "in" : "query",
          "description" : "The channel to determine connected workspaces within the organization for",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "channelId"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsGetTeamsResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "teams" : [ "T1234", "T5678" ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsGetTeamsErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:read" ]
        } ]
      }
    },
    "/admin.conversations.invite" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Invite a user to a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.invite"
        },
        "operationId" : "admin_conversations_invite",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsInviteBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsInviteResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsInviteErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.rename" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Rename a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.rename"
        },
        "operationId" : "admin_conversations_rename",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsRenameBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsRenameResponse1"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsUnarchiveErrorResponse1"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.restrictAccess.addGroup" : {
      "post" : {
        "tags" : [ "admin.conversations.restrictAccess", "admin" ],
        "description" : "Add an allowlist of IDP groups for accessing a channel",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup"
        },
        "operationId" : "admin_conversations_restrictAccess_addGroup",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsRestrictAccessAddGroupBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse6"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate6"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.restrictAccess.listGroups" : {
      "get" : {
        "tags" : [ "admin.conversations.restrictAccess", "admin" ],
        "description" : "List all IDP Groups linked to a channel",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups"
        },
        "operationId" : "admin_conversations_restrictAccess_listGroups",
        "parameters" : [ {
          "name" : "channel_id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "channelId"
        }, {
          "name" : "team_id",
          "in" : "query",
          "description" : "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse7"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "group_ids" : [ "YOUR_GROUP_ID" ],
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate7"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:read" ]
        } ]
      }
    },
    "/admin.conversations.restrictAccess.removeGroup" : {
      "post" : {
        "tags" : [ "admin.conversations.restrictAccess", "admin" ],
        "description" : "Remove a linked IDP group linked from a private channel",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup"
        },
        "operationId" : "admin_conversations_restrictAccess_removeGroup",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsRestrictAccessRemoveGroupBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse8"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate8"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.search" : {
      "get" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Search for public or private channels in an Enterprise organization.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.search"
        },
        "operationId" : "admin_conversations_search",
        "parameters" : [ {
          "name" : "team_ids",
          "in" : "query",
          "description" : "Comma separated string of team IDs, signifying the workspaces to search through",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamIds"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Name of the the channel to query by",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of items to be returned. Must be between 1 - 20 both inclusive. Default is 10",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_channel_types",
          "in" : "query",
          "description" : "The type of channel to include or exclude in the search. For example `private` will search private channels, while `private_exclude` will exclude them. For a full list of types, check the [Types section](#types)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "searchChannelTypes"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Possible values are `relevant` (search ranking based on what we think is closest), `name` (alphabetical), `member_count` (number of users in the channel), and `created` (date channel was created). You can optionally pair this with the `sort_dir` arg to change how it is sorted ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort_dir",
          "in" : "query",
          "description" : "Sort direction. Possible values are `asc` for ascending order like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2, 1) or (c, b, a)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "sortDir"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsSearchResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "channels" : [ {
                        "created" : 1449252889,
                        "creator" : "U012A3CDE",
                        "id" : "C012AB3CD",
                        "is_archived" : false,
                        "is_channel" : true,
                        "is_ext_shared" : false,
                        "is_general" : true,
                        "is_group" : false,
                        "is_im" : false,
                        "is_member" : true,
                        "is_mpim" : false,
                        "is_org_shared" : false,
                        "is_pending_ext_shared" : false,
                        "is_private" : false,
                        "is_shared" : false,
                        "name" : "general",
                        "name_normalized" : "general",
                        "num_members" : 4,
                        "pending_shared" : [ ],
                        "previous_names" : [ ],
                        "purpose" : {
                          "creator" : "",
                          "last_set" : 0,
                          "value" : "This channel is for team-wide communication and announcements. All team members are in this channel."
                        },
                        "topic" : {
                          "creator" : "",
                          "last_set" : 0,
                          "value" : "Company-wide announcements and work-based matters"
                        },
                        "unlinked" : 0
                      } ],
                      "ok" : true,
                      "response_metadata" : {
                        "next_cursor" : "dGVhbTpDMDYxRkE1UEI="
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsSearchErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "not_an_enterprise",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:read" ]
        } ]
      }
    },
    "/admin.conversations.setConversationPrefs" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Set the posting permissions for a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.setConversationPrefs"
        },
        "operationId" : "admin_conversations_setConversationPrefs",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsSetConversationPrefsBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsSetConversationPrefsResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsSetConversationPrefsErrorResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.setTeams" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Set the workspaces in an Enterprise grid org that connect to a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.setTeams"
        },
        "operationId" : "admin_conversations_setTeams",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsSetTeamsBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse9"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate9"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.conversations.unarchive" : {
      "post" : {
        "tags" : [ "admin.conversations", "admin" ],
        "description" : "Unarchive a public or private channel.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.conversations.unarchive"
        },
        "operationId" : "admin_conversations_unarchive",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminConversationsUnarchiveBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsUnarchiveResponse"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminConversationsUnarchiveErrorResponse2"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.conversations:write" ]
        } ]
      }
    },
    "/admin.emoji.add" : {
      "post" : {
        "tags" : [ "admin.emoji", "admin" ],
        "description" : "Add an emoji.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.emoji.add"
        },
        "operationId" : "admin_emoji_add",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminEmojiAddBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse10"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate10"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.emoji.addAlias" : {
      "post" : {
        "tags" : [ "admin.emoji", "admin" ],
        "description" : "Add an emoji alias.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.emoji.addAlias"
        },
        "operationId" : "admin_emoji_addAlias",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminEmojiAddAliasBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse11"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate11"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.emoji.list" : {
      "get" : {
        "tags" : [ "admin.emoji", "admin" ],
        "description" : "List emoji for an Enterprise Grid organization.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.emoji.list"
        },
        "operationId" : "admin_emoji_list",
        "parameters" : [ {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse12"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "cache_ts" : "1575283387.000000",
                      "categories" : [ {
                        "emoji_names" : [ "grinning", "grin", "joy", "etc etc ..." ],
                        "name" : "Smileys & People"
                      } ],
                      "categories_version" : "5",
                      "emoji" : {
                        "black_square" : "alias:black_large_square",
                        "bowtie" : "https://emoji.slack-edge.com/T9TK3CUKW/bowtie/f3ec6f2bb0.png",
                        "cubimal_chick" : "https://emoji.slack-edge.com/T9TK3CUKW/cubimal_chick/85961c43d7.png",
                        "dusty_stick" : "https://emoji.slack-edge.com/T9TK3CUKW/dusty_stick/6177a62312.png",
                        "glitch_crab" : "https://emoji.slack-edge.com/T9TK3CUKW/glitch_crab/db049f1f9c.png",
                        "piggy" : "https://emoji.slack-edge.com/T9TK3CUKW/piggy/b7762ee8cd.png",
                        "pride" : "https://emoji.slack-edge.com/T9TK3CUKW/pride/56b1bd3388.png",
                        "shipit" : "alias:squirrel",
                        "simple_smile" : {
                          "apple" : "https://a.slack-edge.com/80588/img/emoji_2017_12_06/apple/simple_smile.png",
                          "google" : "https://a.slack-edge.com/80588/img/emoji_2017_12_06/google/simple_smile.png"
                        },
                        "slack" : "https://emoji.slack-edge.com/T9TK3CUKW/slack/7d462d2443.png",
                        "slack_call" : "https://emoji.slack-edge.com/T9TK3CUKW/slack_call/b81fffd6dd.png",
                        "squirrel" : "https://emoji.slack-edge.com/T9TK3CUKW/squirrel/465f40c0e0.png",
                        "thumbsup_all" : "https://emoji.slack-edge.com/T9TK3CUKW/thumbsup_all/50096a1020.gif",
                        "white_square" : "alias:white_large_square"
                      },
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate12"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:read" ]
        } ]
      }
    },
    "/admin.emoji.remove" : {
      "post" : {
        "tags" : [ "admin.emoji", "admin" ],
        "description" : "Remove an emoji across an Enterprise Grid organization",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.emoji.remove"
        },
        "operationId" : "admin_emoji_remove",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminEmojiRemoveBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse13"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate13"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.emoji.rename" : {
      "post" : {
        "tags" : [ "admin.emoji", "admin" ],
        "description" : "Rename an emoji.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.emoji.rename"
        },
        "operationId" : "admin_emoji_rename",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminEmojiRenameBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse14"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate14"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.inviteRequests.approve" : {
      "post" : {
        "tags" : [ "admin.inviteRequests", "admin" ],
        "description" : "Approve a workspace invite request.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.inviteRequests.approve"
        },
        "operationId" : "admin_inviteRequests_approve",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/admin_inviteRequests_approve"
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse15"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate15"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.invites:write" ]
        } ]
      }
    },
    "/admin.inviteRequests.approved.list" : {
      "get" : {
        "tags" : [ "admin.inviteRequests.approved", "admin" ],
        "description" : "List all approved workspace invite requests.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.inviteRequests.approved.list"
        },
        "operationId" : "admin_inviteRequests_approved_list",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "query",
          "description" : "ID for the workspace where the invite requests were made",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Value of the `next_cursor` field sent as part of the previous API response",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000, both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse16"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate16"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.invites:read" ]
        } ]
      }
    },
    "/admin.inviteRequests.denied.list" : {
      "get" : {
        "tags" : [ "admin.inviteRequests.denied", "admin" ],
        "description" : "List all denied workspace invite requests.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.inviteRequests.denied.list"
        },
        "operationId" : "admin_inviteRequests_denied_list",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "query",
          "description" : "ID for the workspace where the invite requests were made",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Value of the `next_cursor` field sent as part of the previous api response",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse17"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate17"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.invites:read" ]
        } ]
      }
    },
    "/admin.inviteRequests.deny" : {
      "post" : {
        "tags" : [ "admin.inviteRequests", "admin" ],
        "description" : "Deny a workspace invite request.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.inviteRequests.deny"
        },
        "operationId" : "admin_inviteRequests_deny",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/admin_inviteRequests_approve"
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse18"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate18"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.invites:write" ]
        } ]
      }
    },
    "/admin.inviteRequests.list" : {
      "get" : {
        "tags" : [ "admin.inviteRequests", "admin" ],
        "description" : "List all pending workspace invite requests.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.inviteRequests.list"
        },
        "operationId" : "admin_inviteRequests_list",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "query",
          "description" : "ID for the workspace where the invite requests were made",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Value of the `next_cursor` field sent as part of the previous API response",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000, both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse19"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate19"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.invites:read" ]
        } ]
      }
    },
    "/admin.teams.admins.list" : {
      "get" : {
        "tags" : [ "admin.teams.admins", "admin" ],
        "description" : "List all of the admins on a given workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.admins.list"
        },
        "operationId" : "admin_teams_admins_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team_id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse20"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "admin_ids" : [ "U1234" ],
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate20"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:read" ]
        } ]
      }
    },
    "/admin.teams.create" : {
      "post" : {
        "tags" : [ "admin.teams", "admin" ],
        "description" : "Create an Enterprise team.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.create"
        },
        "operationId" : "admin_teams_create",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminTeamsCreateBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse21"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "team" : "T12345"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate21"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.teams.list" : {
      "get" : {
        "tags" : [ "admin.teams", "admin" ],
        "description" : "List all teams on an Enterprise organization",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.list"
        },
        "operationId" : "admin_teams_list",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 100 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse22"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "teams" : [ {
                        "discoverability" : "hidden",
                        "id" : "T1234",
                        "name" : "My Team",
                        "primary_owner" : {
                          "email" : "bront@slack.com",
                          "user_id" : "W1234"
                        },
                        "team_url" : "https://subarachnoid.slack.com/"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate22"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:read" ]
        } ]
      }
    },
    "/admin.teams.owners.list" : {
      "get" : {
        "tags" : [ "admin.teams.owners", "admin" ],
        "description" : "List all of the owners on a given workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.owners.list"
        },
        "operationId" : "admin_teams_owners_list",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return. Must be between 1 - 1000 both inclusive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse23"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "owner_ids" : [ "U1234" ]
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate23"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:read" ]
        } ]
      }
    },
    "/admin.teams.settings.info" : {
      "get" : {
        "tags" : [ "admin.teams.settings", "admin" ],
        "description" : "Fetch information about settings in a workspace",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.settings.info"
        },
        "operationId" : "admin_teams_settings_info",
        "parameters" : [ {
          "name" : "team_id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "teamId"
        } ],
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse24"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true,
                      "team" : {
                        "default_channels" : "array",
                        "domain" : "string",
                        "email_domain" : "string",
                        "enterprise_id" : "string",
                        "enterprise_name" : "string",
                        "icon" : "array",
                        "id" : "string",
                        "name" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate24"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:read" ]
        } ]
      }
    },
    "/admin.teams.settings.setDefaultChannels" : {
      "post" : {
        "tags" : [ "admin.teams.settings", "admin" ],
        "description" : "Set the default channels of a workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.settings.setDefaultChannels"
        },
        "operationId" : "admin_teams_settings_setDefaultChannels",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminTeamsSettingsSetDefaultChannelsBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse25"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate25"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.teams.settings.setDescription" : {
      "post" : {
        "tags" : [ "admin.teams.settings", "admin" ],
        "description" : "Set the description of a given workspace.",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.settings.setDescription"
        },
        "operationId" : "admin_teams_settings_setDescription",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminTeamsSettingsSetDescriptionBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Typical success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultSuccessResponse26"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "ok" : true
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Typical error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultErrorTemplate26"
                },
                "examples" : {
                  "response" : {
                    "value" : {
                      "error" : "invalid_auth",
                      "ok" : false
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "slackAuth" : [ "admin.teams:write" ]
        } ]
      }
    },
    "/admin.teams.settings.setDiscoverability" : {
      "post" : {
        "tags" : [ "admin.teams.settings", "admin" ],
        "description" : "An API method that allows admins to set the discoverability of a given workspace",
        "externalDocs" : {
          "description" : "API method documentation",
          "url" : "https://api.slack.com/methods/admin.teams.settings.setDiscoverability"
        },
        "operationId" : "admin_teams_settings_setDiscoverability",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
[...]
